version: '{branch}-{build}'

#init:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - set PATH=C:\Ruby25-x64\bin;%PATH%
  - cd docs
  - gem install bundler -v 1.17.3
  - bundle install
  - cd ..
  - cp c:\Tools\curl\bin\libcurl.dll C:\Ruby25-x64\bin
  - choco install unitypackager
  
#build:
#  project: Mirror/Networking.sln
#  verbosity: minimal
  
# Do not build on tags (GitHub only)
skip_tags: true

build_script:
  - cd docs
  - bundle exec jekyll build
  - ruby checksite.rb
  - cd ..

after_build:
  - UnityPackager pack Mirror.unitypackage Assets/Mirror Assets/Mirror LICENSE Assets/Mirror/LICENSE

artifacts:
  - path: Mirror.unitypackage

image: Visual Studio 2017

before_deploy:
  - npm install -g semantic-release@15

deploy_script:
  - semantic-release
