version: '{branch}-{build}'

#init:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - set PATH=C:\Ruby25-x64\bin;%PATH%
  - cd docs
  - gem install bundler -v 1.17.3
  - bundle install
  - cd ..
  - cp c:\Tools\curl\bin\libcurl.dll C:\Ruby25-x64\bin
  
#build:
#  project: Mirror/Networking.sln
#  verbosity: minimal
  
# Do not build on tags (GitHub only)
skip_tags: true

build_script:
  - cd docs
  - bundle exec jekyll build
  - ruby checksite.rb
  - cd ..
  - echo $GITHUB_TOKEN

artifacts:
  - path: Assets
    name: Mirror

image: Visual Studio 2017


deploy:
  description: 'This is a bleeding edge release. BACKUP BEFORE USING THIS AUTOMATED BUILD\n$(APPVEYOR_REPO_COMMIT_MESSAGE)'
  provider: GitHub
  auth_token:
    secure: G42snf8s5fEos7UfoRSW6eW+8rqGGMH3iw1ZCjRUjcUSKupHUfrKJMXQ11wbjRuW # your encrypted token from GitHub
  artifact: Mirror.zip            # upload all NuGet packages to release assets
  draft: false
  prerelease: false
  on:
    branch: master