version: '{branch}-{build}'

environment:
    nodejs_version: "10"
    LFTP_PASSWORD:
        secure: sH23IC4a98S5uTtgYNHNvg==

#init:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - choco install unitypackager
  - choco install docfx
  - choco install lftp
  - ps: Install-Product node $env:nodejs_version
  - npm install -g semantic-release @semantic-release/exec

#build:
#  project: Mirror/Networking.sln
#  verbosity: minimal
  
# Do not build on tags (GitHub only)
skip_tags: true

build_script:
  - docfx metadata --logLevel Warning --warningsAsErrors doc\docfx.json
  - docfx build --logLevel Warning --warningsAsErrors doc\docfx.json

image: Visual Studio 2017

deploy_script:
  - IF "%APPVEYOR_REPO_BRANCH%"=="master" ( lftp -e 'set ftp:ssl-allow no ; mirror -R -c -e -p doc/_site public_html/docs; chmod -R a+X public_html/docs ; ls -l public_html/docs/ ; ls -l public_html/docs/styles/ ; bye' -u mirreofx --env-password ftp://mirror-networking.com 2>&1 )

