<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net47" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net47" />
  <package id="NUnit" version="3.10.1" targetFramework="net47" />
  <package id="OpenCover" version="4.6.519" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net47" />
</packages>